@font-face {
	font-family: 'Quicksand';
    src: url('../font/Quicksand.ttf');
}
@font-face {
	font-family: 'Dopestyle';
    src: url('../font/Dopestyle.ttf');
}
@font-face {
	font-family: 'Viga';
    src: url('../font/Viga-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Viga';
}


.jumbotron-cara-kerja{
    background-color: #078282;
    background-image: linear-gradient(to right, #078282, #094343);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}
.jumbotron-text{
    color: white;
    text-align: center;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbotron-title{
    font-family: 'Dopestyle';
    font-size: 80pt;
}
.jumbotron-description{
    font-size: 25pt;
    margin-top: 10px;
}


.on-middle{vertical-align: middle;}


.s-ganjil{
    height: auto;
    background-color: white;
}
.container-ganjil{
    background-color: #95dbe5;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.content-ganjil{
    width: 85%;
    margin: auto;
}
.ganjil-left-image{
    text-align: center;
    margin: 50px;
}
.ganjil-left-image img{width: 50%;}
.ganjil-right-container{
    margin: 50px;
    text-align: right;
}
.ganjil-right-title{
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 30px;
}
.ganjil-right-desc{
    font-family: 'Quicksand';
    font-size: 10pt;
}


.s-genap{
    height: auto;
    background-color: white;
}
.container-genap{
    background-color: white;
    height: auto;
}
.content-genap{
    width: 85%;
    margin: auto;
}
.genap-right-image{
    text-align: center;
    margin: 50px;
}
.genap-right-image img{width: 50%;}
.genap-left-container{
    margin: 50px;
    text-align: left;
}
.genap-left-title{
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 30px;
}
.genap-left-desc{
    font-family: 'Quicksand';
    font-size: 10pt;
}


.s-motto-bottom{
    background-image: url('../img/asset/female-hand-holding-money-table-nature-background_36577-60.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 250px;
    font-family: 'Quicksand';
}
.container-motto-bottom{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.content-motto-bottom{
    margin: auto;
    width: 85%;
    height: 100%;
}
.motto-bottom-left{text-align: center;}
.motto-bottom-left button{
    margin-top: 100px;
    padding: 15px 80px;
    background-color: #078282;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.motto-bottom-left button:hover{
    background-color: #075e5e;
    transition: .5s;
}
.motto-bottom-right{
    color: white;
    text-align: right;
    padding: 50px;
}
.motto-bottom-right p{font-size: 20pt;}
.motto-bottom-right h1{font-size: 30pt;}

.s-footer{
    background-color: #078282;
    color: white;
    font-family: 'Quicksand';
}
.content-footer{
    margin: auto;
    width: 90%;
    height: 100%;
}
.footer-title{
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}
.footer-title img{
    margin-right: 5px;
    width: 70px;
    height: auto;
    vertical-align: middle;
}
.footer-title span{
    font-size: 15pt;
    vertical-align: middle;
    font-weight: bolder;
}
.content-title-footer{
    font-size: 12pt;
    font-weight: bold;
}
.content-desc-footer p{
    font-size: 10pt;
    margin: 10px 10px 10px 0;
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: #075e5e;
    font-size: 11pt;
}