@font-face {
	font-family: 'Quicksand';
    src: url('../font/Quicksand.ttf');
}
@font-face {
	font-family: 'Dopestyle';
    src: url('../font/Dopestyle.ttf');
}
@font-face {
	font-family: 'Viga';
    src: url('../font/Viga-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Viga';
    background-color: rgb(224, 224, 224);
}
.jumbotron-home{
    height: 100vh;
    background-image: url('../img/asset/Menabung-Syariah.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.content-jumbotron{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.content-middle-jumbotron{
    font-family: 'Quicksand';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content-middle-jumbotron h1{font-size: 50pt;}
.content-middle-jumbotron p{font-size: 20pt;}
.to-down{margin-top: 35px; cursor: pointer;}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.motto-top{
    width: 80%;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.motto-top-left{
    margin: 10px;
    padding: 10px;
    font-family: 'Quicksand';
}
.motto-top-left p{font-size: 20pt;}
.motto-top-left h1{font-size: 33pt;}
.motto-top-left span{font-size: 10pt;}
.motto-top-left button{
    padding: 15px 80px;
    background-color: #078282;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
    cursor: pointer;
}
.motto-top-left button:hover{
    background-color: #075e5e;
    transition: .5s;
}
.motto-top-right{
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-family: 'Quicksand';
}
.motto-top-right img{
    width: 54.3%;
}

.s-proyek{
    height: 100vh;
    background-color: #95dbe5;
}
.container-proyek{
    height: 100%;
    background-color: white;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
.content-proyek{
    width: 85%;
    margin: auto;
}
.proyek-title{
    text-align: center;
    margin: 20px;
}
.proyek-title span{
    font-size: 20pt;
    font-weight: bold;
    border-bottom: 3px solid #078282;
}
.proyek-desc{
    margin: 0 20px 20px 20px;
}
.card-proyek{
    margin: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.card-proyek:hover{
    transition: .5s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
.card-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-image img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-content{
    font-family: 'Quicksand';
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Quicksand';
}
.card-content-left {
    background-color: #95dbe5;
    margin: 5px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 3px;
    border-radius: 10px;
    font-size: 10pt;
}
.card-content-right {
    font-weight: bold;
    height: 20px;
    margin: 5px;
    text-align: right;
    padding: 3px;
    font-size: 10pt;
}
.left-child-title p{
    margin: 5px 5px 0 5px;
    font-size: 9pt;
    text-align: left;
}
.right-child-title p{
    margin: 5px 5px 0 5px;
    font-size: 9pt;
    text-align: right;
}
.left-child-desc p{
    margin: 0 5px 0 5px;
    text-align: left;
    font-family: 'Viga';
    font-size: 11pt;
    color: #075e5e;
}
.right-child-desc p{
    margin: 0 5px 0 5px;
    text-align: right;
    font-family: 'Viga';
    font-size: 11pt;
    color: #075e5e;
}
.right-child-desc span{
    background-color: #078282;
    color: white;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}
.card-footer-left{
    margin: 3px;
    color: darkgray;
    font-size: 10pt;
    text-align: left;
}
.card-footer-left span{font-size: 8pt;}
.card-footer-right{
    margin: 3px;
    text-align: right;
    padding: 6px;
}
.card-footer-right span{
    background-color: #95dbe5;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    font-size: 10pt;
    font-family: 'Viga';
}
.btn-card-bottom{
    font-style: italic;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #078282;
    margin: 0;
    text-align: center;
    color: white;
    padding: 8px 0 8px 0;
    transition: .5s;
    font-size: 11pt;
}
.btn-card-bottom:hover{
    background-color: #075e5e;
    transition: .5s;
}
.btn-card-bottom-done{
    font-style: italic;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #95dbe5;
    margin: 0;
    cursor: not-allowed;
    text-align: center;
    color: darkgray;
    padding: 8px 0 8px 0;
    transition: .5s;
    font-size: 11pt;
}