@font-face {
	font-family: 'Quicksand';
    src: url('../font/Quicksand.ttf');
}
@font-face {
	font-family: 'Dopestyle';
    src: url('../font/Dopestyle.ttf');
}
@font-face {
	font-family: 'Viga';
    src: url('../font/Viga-Regular.ttf');
}
:root {
    --seablue: #95dbe5;
    --success: #078282;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Viga';
    background-color: rgb(224, 224, 224);
}
.jumbotron-top {
    background-color:  rgb(224, 224, 224);
}
.konten-1 {
    width: 80%;
    margin: 0px auto;
    padding-top: 140px;
    padding-bottom: 10px;
    font-size: smaller;
}
.col-5 {
    margin-top: 40px;
}
.img-konten-1 {
    text-align: right;
    margin: 10px;
    padding: 10px;
}
.img-konten-1 img{
    width: 80%;
    border-radius: 10px;
}

.konten-2 {
    background-color: var(--seablue);
    padding: 30px;
}
.konten-2 .kanan {
    text-align: right;
}
.kanan .col-5 {
    margin-top: 110px;
}

.konten-3 {
    margin: 0px auto;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    padding-bottom: 10px;
    font-size: smaller;
}
.konten-3 h1 {
    margin: 10px;
}
.konten-3 .col-4 {
    margin-left: 10px;
}
.img-konten-3-1 {
    margin: 0px;
}
.img-konten-3-1 img {
    width:100% ;
}