@font-face {
	font-family: 'Quicksand';
    src: url('../font/Quicksand.ttf');
}
@font-face {
	font-family: 'Dopestyle';
    src: url('../font/Dopestyle.ttf');
}
@font-face {
	font-family: 'Viga';
    src: url('../font/Viga-Regular.ttf');
}
:root {
    --seablue: #95dbe5;
    --success: #078282;
}
*{
    font-family: 'Viga';
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    style
}

.content-dropdown{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}
.content-dropdown a{
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.nav-dropdown:hover .content-dropdown{
    transition: 1.5s;
    display: block;
}

/* MY STYLE */

.nav-list:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #078282;
}
.jumbotron-header {
    
    background-image: url('../img/asset/proyek.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh; 
}
.jumbotron-color {
    background-color: rgba(0, 0, 0, 0.3); 
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;

}


.jumbotron-header h1 {
    text-align: center;
    padding-top: 220px;
    font-size: 100px;
    font-family: Dopestyle;
    color: white;
}

/* JUMBOTRON TENGAH */
.jumbotron-tengah {
    width: 950px;
    height: 200px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

}
.box-tengah img{
    width: 130px;
    margin: 30px;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
}

.kategori li {
    width: 300px;
    height: 161px;
    float: left;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 10px;
}
.kategori li img {
    width: 100px;
    margin-right: 20px;
}

.kategori li .teks {
    margin-top: 40px;
    padding: 10px;
    text-align: left;
    color: var(--success);
}
.kategori li span {
    color: var(--seablue);
    font-family: Quicksand;
    font-size: 16px;
}
/* AKHIR JUMBOTRON */


/* Awal LIST */
.jumbotron-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 70px;
}

.jumbotron-card {
    width: 380px;
    height: 500px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 3px rgba(156, 156, 156, 0.9);
}
.jumbotron-card img {
    width: 100%;
    height: auto;
    background-image: url('...img/asset/proyek/padi.jpg');
}
.card-keterangan-atas p {
    display: inline;
    font-family: 'Quicksand';
}
.card-keterangan-atas {
    z-index: 1;
}
.card-keterangan-atas button {
    margin: 10px;
    border-radius: 10px;
    font-style: italic;
    text-decoration: none;
    border: 0px solid (var(--seablue));
    background-color: var(--seablue);
    color: black;
    padding: 7px 12px;
    pointer-events: none;
    font-family: 'Quicksand';
    font-weight:bolder;
    font-size: 12px;
    display: inline;
}

.card-keterangan-atas li {
    width: 160px;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    
}
.card-keterangan-atas li h3 {
    color: var(--success);
}
.card-keterangan-atas li button {
    text-align: right;
    margin: 0;
    background-color: #078282;
    color: white;
    font-style: normal;
    padding: 5px 10px;
    font-size: 12px;
}

.card-keterangan-atas li .button-bawah {
    height: 30px;
    width: 380px;
    border-radius: 1px;
    text-decoration: none;
    background-color: var(--success);
    color: black;
    padding: 7px 12px;
    font-weight:bolder;
    font-size: 12px;
    display: inline;
    float: none;
    
    
}

/* Akhir List */

/* Awal Jumbotron Bawah */
.tagline{
    height: 300px;
    background-image: url('../img/asset/female-hand-holding-money-table-nature-background_36577-60.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.tagline-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.tagline-left{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 300px;
    padding-left: 220px;
}
.tagline-left button{
    padding: 10px 50px 10px 50px;
    background-color: #078282;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20pt;
    
}
.tagline-right{
    width: 50%;
    height: 100%;
    float: right;
    color: white;
    text-align: right;
    padding: 80px;
    padding-right: 150px;
}
.tagline-right p{
    font-family: 'Quicksand';
    font-size: 20pt;
}
.tagline-right h1{
    font-family: 'Quicksand';
    font-size: 30pt;
}
/* Akhir Jumbotron Bawah */
